html{
	 font-family : verdana, cursive , sans-serif;
         font: inherit;
	 margin:0;
	 padding:0;
	 border:0;
	 vertical-align:baseline;
}

div#container{
    width:1000px;
    height:800px;
    margin-left:auto;
    margin-right: auto;
    margin-top: auto;
    background-color: chartreuse
}
header{
    margin: 0;
    width: 100%;
    padding: 00px;
    height: 60px;
    background-color: antiquewhite;
}

h2#title{
    text-align: center;
    width: 90%;
    background-color:darkmagenta;
    
}
img{
    margin:00px;
    float: right;
    background-color:darkred;
}
nav{
    height: 60px;
    padding-top:30px;

}
main{
    box-sizing: border-box;
    padding-left:20px;
    width:80%;
    height:auto;
    background-color: cadetblue;
    float:right;
}

p#intro{
    width:100%;

}
section#video{
    width:20%;
    
}
section#iframe{
    width:20%;
    float:left;
}
section#Audio{
    width:20%;
    float:left;
}
aside{
    width: 20%;
    height:auto;
    float:left;
    background-color:olive;
}
footer{
    padding:400px;
    height: 100px;

}
